body {
  background-color: white;
  border: 1px solid #1e1e1e;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  font-family: arial, sans-serif;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-align: right;
}
ul{
  text-align: right;
  margin: 0;
  padding: 0;
}
#description {
  text-align: right;
  font-size: 16px;
}
#icon {
  color: black;
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  margin-left: 25px;
}
hr {
  padding: right;
  border: 0px;
  margin: 1px 1px 1px 225px;
}
li {
  color: rgb(135, 135, 135);
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.today {
  text-align: right;
}
.time {
  text-align: right;
}
.temperature {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.units{
  text-align: top;
  position: relative;
  top: -34px;
  font-size: 16px;
}
form {
  text-align: center;
}
.search-form {
  margin-bottom: 20px;
}
.align-week {
  margin: 5px 5px;
  border: 1px;
}
.align-week-weather {
  padding: 15px;
  margin: 10px 5px 10px;
  border-radius: 10px;
  max-width: 600px;
}
.day-temperature {
  text-align: center;
  position: relative;
}
.align-today:hover {
  background-color: rgb(249, 247, 247);
  border: 1px;
  padding: 15px;
  border-radius: 20px;
}
.align-week:hover {
  background-color: rgb(243, 242, 242);
  border: 1px;
  padding: 15px;
  border-radius: 20px;
}
.github{
  text-align: center;
  display: block;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#humidity-wind{
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
}
#humidity-wind:first-letter {
  text-transform: capitalize;
}

#humidity,#wind {
  color: red;
}
#humidity-unit,#wind-unit {
  color: red;
}