body, html {
  background: linear-gradient(#1e2638ff 0%, #82c2d2ff);
  background-size: contain;
  height: 100%;
}
.title{
  text-align: center;
  color: #878787;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#container {
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-height: fit-content;
  max-width: 500px;
  block-size: fit-content;
  font-family: arial, sans-serif;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.align-today {
  border: 1px;
  padding: 15px;
  border-radius: 20px;
}
#city {
  color: #4c4c4c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0px 20px;
  text-align: right;
}
ul{
  text-align: right;
  margin: 0;
  padding: 0;
}
#description {
  text-align: right;
  font-size: 16px;
}
#icon {
  color: black;
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  margin-left: 25px;
}
hr {
  padding: right;
  border: 0px;
  margin: 1px 7px 1px 225px;
}
li {
  color: #4c4c4c;
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0px 20px;
  padding: 0;
}
.today {
  text-align: right;
}
.time {
  text-align: right;
}
.temperature {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  margin-left: 30px;
}
.units{
  text-align: top;
  position: relative;
  top: -34px;
  font-size: 16px;
}
form {
  text-align: center;
}
.search-form {
  margin-bottom: 20px;
}
.weather-forecast {
  margin: 5px 5px;
  border: 1px;
}
.day-temperature {
  text-align: center;
  position: relative;
}
.align-today:hover, .weather-forecast:hover {
  background-color: rgb(249, 247, 247);
  border: 1px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: -7px 5px 14px rgba(0, 0, 0, 0.5);
}
small{
  text-align: center;
  display: block;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#humidity-wind{
  text-align: center;
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 100;
}
#humidity-wind:first-letter {
  text-transform: capitalize;
}

#humidity,#wind {
  color: red;
}
#humidity-unit,#wind-unit {
  color: red;
}
.info {
  margin-top: 25px;
}
#days {
  column-count: 7;
}